.User {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.User__data {
  width: calc(100% - 1px);
  margin: 15px 0;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(64px, -webkit-max-content)
    minmax(45px, -webkit-max-content) minmax(45px, -webkit-max-content);
  -ms-grid-rows: minmax(64px, max-content) minmax(45px, max-content)
    minmax(45px, max-content);
  grid-template-rows:
    minmax(64px, -webkit-max-content) minmax(45px, -webkit-max-content)
    minmax(45px, -webkit-max-content);
  grid-template-rows:
    minmax(64px, -webkit-max-content) minmax(45px, -webkit-max-content)
    minmax(45px, -webkit-max-content);
  grid-template-rows:
    minmax(64px, -webkit-max-content) minmax(45px, -webkit-max-content)
    minmax(45px, -webkit-max-content);
  grid-template-rows: minmax(64px, max-content) minmax(45px, max-content) minmax(
      45px,
      max-content
    );
  -ms-grid-columns: 53px 1fr 62px;
  grid-template-columns: 53px 1fr 62px;
}

.User__data > * {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.User__data-username {
  width: calc(100% - 36px);
  padding: 24px 18px 0;
  font-family: "Alegreya Sans";
}

.User__data-button {
  width: 50px;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.User__data-button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 1;
}

.User__data-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.User__data-description > div {
  width: calc(25% - 1px);
  height: 100%;
  border-right: 1px solid #000;
}

.User__data-description > div:last-of-type {
  width: 25%;
  border-right: none;
}

.User__data-description > div > * {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.User__data-company {
  width: calc(100% - 38px);
  padding: 0 18px;
  margin-top: 25px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.User__data-company-name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.User__data-company-name > * {
  margin: 24px 5px;
}

.User__data-company > h3:last-of-type {
  margin: auto;
  margin-bottom: 25px;
}

.User__data-posts {
  width: calc(100% - 117px);
  padding: 16px 62px 33px 53px;
  margin-top: 48px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.User__data-posts-container {
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.User__data-post {
  width: calc(100% - 60px);
  padding: 15px 30px;
  border: 1px solid #000;
  color: #000;
}

.User__data-post-title {
  margin-bottom: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-transform: capitalize;
}

.User__data-posts-button,
.User__data-posts-button:visited {
  margin: auto;
  margin-top: 15px;
  font-size: 24px;
  line-height: 1.3;
  color: #00f;
}

.User__data-posts-button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
