@import "../../normalize.css";

body {
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
}

h3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

h4 {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 17px;
}

.main {
  width: 100%;
  background: #fff;
}

.post-preview {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li {
  margin-bottom: 15px;
  list-style: none;
}

button {
  cursor: pointer;
}
