@import "../../normalize.css";

body {
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.main {
  width: calc(100% - 106px);
  padding: 36px 53px 0;
  background: #fff;
}

li {
  margin-bottom: 15px;
  list-style: none;
}

button {
  cursor: pointer;
}
