@import "../../normalize.css";

body {
  position: relative;
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
}

h3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

h4 {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 17px;
}

.main {
  width: 100%;
  background: #fff;
}

.post-preview {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li {
  margin-bottom: 15px;
  list-style: none;
}

button {
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s, visibility 0s linear .3s;
  -o-transition: opacity .2s, visibility 0s linear .3s;
  transition: opacity .2s, visibility 0s linear .3s;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
      transition-delay: .2s;
}

.popup__close {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  right: -34px;
  top: -34px;
  -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  cursor: pointer;
  border: 0;
  background-image: url('../../assets/plus.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__container {
  position: relative;
  margin: auto;
  width: 430px;
  height: 420px;
  z-index: 2;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup__title {
  max-width: 330px;
  max-height: 23px;
  padding-top: 34px;
  margin: 0;
  margin-left: 36px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
}

.popup__submit {
  width: max-content;
  margin: 10px auto 20px;
    display: flex;
}
