.Post__full {
  width: calc(100% - 106px);
  padding: 36px 53px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.Post__text-container_full,
.Post__comment {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.Post__comments-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.Post__comment {
  padding: 5px;
}

.Post__comment-author {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.Post__comment-name {
  margin: 10px;
}

.Post__comment-name,
.Post__comment-button {
  font-size: 28px;
  line-height: 30px;
}

.Post__comment-button {
  margin: 10px auto 41px;
  padding: 5px 10px;
  font-weight: 700;
}
